@import "fonts"
@import "libs"
@import "vars"
@import "base"

@mixin flex
	display: flex 
	flex-wrap: wrap

@mixin flex-center
	@include flex
	justify-content: center
	align-items: center

@mixin flex-around
	@include flex
	justify-content: space-around
	align-items: center



@mixin flex-between
	@include flex
	justify-content: space-between
	align-items: center

.wrap-img
	height: 100%
	@include flex-center

.grid 
	@include flex-between

	.grid-item
		flex: 1;


.container
	max-width: 1165px 
	margin: 0 auto
	padding: 0 15px

.section 
	padding-top: 60px
	.section-content 
		max-width: 1160px
		margin: 0 auto
		color: white

	.section-info
		text-align: center
		max-width: 800px
		margin: 0 auto
		.section-title
			text-transform: uppercase		
			font-size: 35px
			margin-top: 0;

			&::after
				content: " "
				display: block
				
				position: relative
				left: 50%
				margin-left: -106px
				margin-top: 30px
				padding-bottom: 20px

				width: 212px
				height: 17px
				background: url(../img/after-title.png)

		.section-description
			font-weight: 300
			font-size: 20px


.is-accent
	color: $accent

.is-action
	color: $action
.is-white 
	color: white

.navbar
	background: #393c45 
	width: 100%
	.navbar-content
		@include flex-between
		flex-direction: row

		a
			font-size: 20px
			text-transform: uppercase
			color: white
			&:hover, &:focus
					color: darken(white,10%)

		.menu 
			@include flex-between

			a
				margin-left: 70px
				padding: 20px 0

				&:first-child
					margin-left: 15px

				
		.phone 
			width: auto
			display: flex
			a
				font-weight: bold
				padding: 20px 0
			

.more
	@include flex-center

.button
	display: inline-block
	text-align: center
	text-transform: uppercase

	font-size: 17px
	font-weight: 500

	cursor: pointer
	
	border-radius: 27px;
	color: $button-text

	padding: 8px 20px
	border: 1px solid rgba(255, 255, 255, 0)
	line-height: 1.2
	

	transition-property: all;
	transition-duration: .1s;
	transition-timing-function: linear;

	img
		float: left
	
	&.is-invert
		background-color: white
		



.button.is-action
	background-color: $action

	&:hover, &:focus
		background-color: darken($action,10%)

.button.is-accent
	color: $accent
	border: 3px solid $accent


	&:hover, &:focus
		background: $accent
		color: white



.button.is-lg
	border: 8px solid #e6e6e6;
	padding: 25px 43px;
	font-weight: bold
	font-size: 20px;
	border-radius: 60px;
	position: relative

	&::after
		content: " "
		width: 68px	
		height: 46px
		position: absolute;
		left: 50%;
		margin-left: -34px;
		margin-top: 49px;


	&.is-accent
		background: $accent;
		color: white

		&:hover, &:focus
			background: white
			color: $accent

		&::after
			background: url(../img/bookmark.png) bottom;
			background-size: cover

	&.is-action
		background: $action;
		color: white

		&:hover, &:focus
			background: white
			color: $action

		&::after
			background: url(../img/bookmark-invert.png) bottom;
			background-size: cover



		
.input
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	height: 45px;
	border-radius: 27px;
	background-color: white
	color: #898989;
	padding: 8px 20px;
	border: 1px solid rgba(255,255,255,0);
	line-height: 1.2;
	width: 240px;

	
	&.phone
		background: url(../img/icons/phone.png) no-repeat left, white
	&.user
		background: url(../img/icons/user.png) no-repeat left, white
		
	&.has-icon 
		padding-left: 45px
		background-position-x: 15px;

.header 
	padding: 10px 0;
	background: white

.row
		@include flex-between
		align-items: flex-start

.header-content
	@include flex-between

	.logo
		// width: 215px
		// height: 90px
		// margin-left: 45px
		img
			width: 100%;
			object-fit: cover;
	.side
		@include flex-between

		.info 
			@include flex-between
			margin-right: 95px
			font-size: 17px 
			min-width: 240px

		.call
			.button
				span 
					position: relative;
					top: 8px;
					left: 3px;
				img
					position: relative
					right: 3px


.banner
	font-weight: 800
	text-align: center
	text-transform: uppercase
	
	padding-top: 25px

	.title
		margin-top: 0
		i
			font-style: inherit
			color: white



#hello
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/main-bg.jpg) bottom;
	background-size: cover

#about
	background: url(../img/about-bg.jpg) bottom
	background-size: cover
	margin-top: 70px

	.grid
		margin-top: 45px

	& + .call-to-action
		margin-top: -88px

		

.list-advantages
	width: 800px
	margin: 70px auto 0 auto
	padding-bottom: 170px
	
	.advantage-item
		@include flex-center
		flex-direction: column

		max-width: 260px

		text-align: center

		.title
			margin-top: 20px
			text-transform: uppercase
			margin-bottom: 0

		.description 
			font-weight: 300

.call-to-action 
	width: 880px
	margin: -142px auto 0 auto;
	background-colol: red
	text-align: center
	background: rgba(0,0,0, .7)
	color: white
	font-weight: 500

	position: relative

	&:nth-child(2) 
		margin-top: -88px

	
	p
		text-transform: uppercase

	.title 
		padding-top: 24px
		margin-bottom: 0

	.subtitle 
		margin-top: 5px

	&::before
		content: " ";
		display: block;
		width: 102%;
		border-top: 2px solid white;
		height: 110px;
		position: absolute;
		left: -1%;
		top: 9px
		border-left: 2px solid white;
		background: transparent;
		border-right: 2px solid white;

	&::after
		content: " "
		display: block
		width: 100%
		border-top: 115px solid transparent;
		border-left: 440px solid white;
		border-right: 440px solid white;
		background: none;




	.call-form
		@include flex-between
		max-width: 90%;
		margin: 0 auto
		input, .button
			width: 250px
			font-weight: 500
			font-size: 14px
		.button
			padding: 15px 5px

	.pricacy
		font-size: 12px;
		color: rgb(177,177,177);
		position: relative;
		top: 22px;
		line-height: 1.6;
		max-width: 650px
		margin: 0 auto

		&::after
			content: " ";
			display: block;
			width: 320px;
			border-top: 42px solid #1f1f1f;
			border-left: 160px solid transparent;
			border-right: 160px solid transparent;
			position: absolute;
			z-index: 2;
			left: 50%;
			margin-left: -160px;
			margin-top: 25px;

		p
			margin: 0

.offers
	width: 1030px
	margin: 0 auto
	.offer-item
		box-shadow: 0px 0px 40px 0px rgba(236,236,236,0.75);
		width: 274px
		margin-top: 70px
		.offer-img
			position: relative
			width: 100%
			img
				object-fit: cover
				width: 100%
				height: 180px

		.offer-status
			display: block;
			font-size: 14px;
			padding: 5px 0;
			position: absolute;
			top: 22px;
			left: 23px;
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			background: #8be685;
			text-align: center;
			transform: rotate(-35deg);
			width: 55px;

			


			&::before,
			&::after 
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				bottom: 0;
				z-index: -1;
				
				background-color: #8be685;


			&::before 
				transform: skew(55deg);
				left: 35px;

			&::after 
				transform: skew(-35deg);
				right: 35px;
				left: auto;

			span
				position: relative;
				left: -15px;

		.offer-type
			text-transform: uppercase
			background: #4abdff
			color: white
			font-weight: bold
			text-align: center
			padding-top: 10px
			padding-bottom: 10px
			width: 200px
			position: relative
			margin: -30px auto 0 auto
			
			&::before
				content: " ";
				display: block;
				width: calc(100% + 12px);
				border-top: 3px solid #fff;
				height: 34px;
				position: absolute;
				left: -6px;
				border-left: 3px solid #fff;
				background: 0 0;
				top: -6px
				border-right: 3px solid #fff;


		.offer-name	
			font-weight: bold
			text-transform: uppercase
			text-align: center
			padding: 20px 0
			border-bottom: 1px solid #e5e5e5

		.offer-info
			width: 100%
			
			text-transform: uppercase
			font-size: 14px;
			width: 220px
			margin: 0 auto
			color: #919191
			padding-bottom: 25px
			


			p
				margin-top: 10px
				margin-bottom: 0
				@include flex-between

				&:first-child
					margin-top: 25px

			.offer-property
				font-weight: 700
		
		.offer-action
			border-top: 1px solid #e5e5e5
			width: 100%;
			padding: 25px 0
			@include flex-center

			.button
				font-size: 13px
				font-weight: 700
				width: 80%
				height: auto
		.more
			margin-top: 60px


			

.custom-content
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		color: $action



.card
	@include flex-center
	color: white

	padding-bottom: 110px
	.card-img
		padding-right: 20px 
		height: 100%
		max-width: 145px
		@include flex-center
		img
			width: 100%;
			height: auto

	.card-info
		max-width: 420px
		.title	
			margin-bottom: 10px
		p
			max-width: 320px


.features
	margin-top: 105px
	@include flex-around
	.features-item
		width: 420px

		text-align: center
		padding-bottom: 115px

		img
			width: 100%
			height: 190px
			border-radius: 100px;
			object-fit: cover
			
		.title	
			margin: 35px 0
			text-transform: uppercase
			font-weight: 500
			color: #20252b
			
		.content
			max-width: 340px
			margin: 0 auto
			color: #959595





@import "media" // Всегда в конце
